<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gerance.Properties.Settings.geranceConnectionString" connectionString="Driver={PostgreSQL ANSI};server=localhost;port=5432;database=gerance;uid=gvilin;pwd=fender" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
