<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SyndicDocumentsData.Models.BddContext" connectionString="Data Source=localhost;Initial Catalog=SyndicDocuments;Persist Security Info=True;User ID=sa;Password=FenderGvi13;Pooling=False" providerName="System.Data.SqlClient"/>
    <!--<add name="SyndicDocumentsData.Models.BddContext" connectionString="Data Source=LAPTOP-RACHID\SQLEXPRESS;Initial Catalog=SyndicDocuments;Persist Security Info=True;User ID=sa;Password=FenderGvi13;Pooling=False" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="MyBinding" maxReceivedMessageSize="2147483647"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://syndic-agencebourgogne.immo/ServiceDocuments/Service.svc" binding="basicHttpBinding" bindingConfiguration="MyBinding" contract="IService"/>
		</client>
	</system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
